.SearchContainer {
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  background: #2a2a3f;
  padding: 64px 48px;
  min-width: 1000px;
  border-radius: 8px;
  overflow-y: scroll;
  max-height: 75vh;
}

.SearchForm {
  width: 100%;

  input {
    border: 0;
    outline: 0;
    box-shadow: 0;
    color: white;
    border-bottom: 1px solid #888;
    background: none;
    width: 100%;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 8px;
    transition: 0.3s ease;

    &:focus {
      border-color: white;
    }
  }
}

.SearchResults {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
  margin-top: 64px;
}